<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets page type, language, character set and scale -->
</head>
<body>        
    <div>
        <h1>Calorie Input Page</h1>
        <!-- Creates title -->
        <div>
            <label for = 'name'> Food Name: </label>
            <input type = 'name' name = 'name' id = 'name' required>
        </div>
        <!-- Creates food name input box -->
        <div>
            <label for = 'Calories'> Total Calories: </label>
            <input type = 'calories' name = 'calories' id = 'calories' required>
        </div>
        <!-- Creates food calories input box -->
        <div>
            <label for = 'Time'> Time: </label>
            <input type = 'time' name = 'time' id = 'time' required>
        </div>  
        <!-- Creates food time input box -->
        <div>
            <label for = 'meal type'> Meal Type: </label>
            <input type = 'meal type' name = 'meal type' id = 'meal type' required>
        </div>       
        <!-- Creates food type input box -->
        <div> 
            <input type = 'submit' value = 'Save'>
        </div>
        <!-- Creates save button -->
        <p><a href = '/dashboard'>Home</a></p>
        <!-- Creates home button back to dashboard page -->
    </body>
    </html>










    