<!DOCTYPE html>
<html lang="en"> 
<!-- Sets language to english -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Sets character set, scale and page size -->
    <title>MyFitnessTracker</title>
    <!-- Creates title -->
</head>
<body>
    <h1>Welcome to MyFitnessTracker,  {{ session['currentUser'] }}</h1> 
    <!-- Creates title and welcomes user by name -->
    <div> 
    <!--div class makes styling easier later on  -->
        <p><a href = '/workoutinput'>Input Workout</a></p>
    </div>
    <!-- Button to direct to /workoutinput page -->
    <div>
        <p><a href = '/calorieinput'>Input Calories</a></p>
    </div>
    <!-- Button to direct to /calorieinput page -->
    <div>
        <p><a href = '/workoutpage'>Workout Page</a></p>
    </div>
    <!-- Button to direct to /workoutpage page -->
    <div>
        <p><a href = '/workoutgraph'>Workout Graph</a></p>
    </div>
    <!-- Button to direct to /workoutgraph page -->
    <div>
        <p><a href = '/logout'>Logout</a></p>
    </div>

</body>
</html>