<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Sets document type, language, character set and scale -->
<body>
    <h1>Workout Graph Viewer</h1>
    <img src="{{url_for('static', filename='my_plot.png')}}" style="width: 20%; height: auto;">
<!-- Creates title of page -->
    <a href = '/dashboard'>Home</a>
<!-- Creates link back to dashboard page through 'home' button -->    
</body>
</html>