<!DOCTYPE html> <!-- Creates new HTML document -->
<html lang="en"> <!-- sets language to english -->
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets character set and level of zoom of page when loaded -->
    <title>Home Page</title>
    <!-- Creates title of 'Home Page' -->
</head>
<body>
    <div>
        <!-- Creating a div tag for each section will allow easy styling later on -->
        <h1>MyFitnessTracker</h1> 
        <!-- Creates title of 'MyFitnessTracker' -->

        <form action = '/authenticate', method = 'post'>
        <!-- Specifies which page the form will be submitted to-->
            <div>
                <label for = 'username'> username: </label>
                <input type = 'text' name = 'username' id = 'username' required>
            </div>
            <!-- Creates the first text box for the username and titles it 'username:' -->
            <div>
                <label for = 'password'> password: </label>
                <input type = 'password' name = 'password' id = 'password' required>
            </div>
            <!-- Creates the second text box for the password and titles it 'password:' -->
            <div> 
                <input type = 'submit' value = 'login'>
                <br>
            <!-- Creates the login button to submit the data from the form -->
        </form>
        Don't have an account? <a href = '/signup'>Sign Up</a>
        <!-- Creates the signup button for new users and titles it 'Sign Up' -->

    </div>
</body>

