<!DOCTYPE html> <!-- Creates new HTML document -->
<html lang="en"> <!-- Sets Language to english -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets character set and level of zoom of page when loaded -->
    <title>Sign up page</title>
    <!-- Creates title of 'Sign up page' -->
</head>
<body>
    <div>
        <!-- Creating a div tag for each section will make styling easier later on -->
        <h1>Sign Up Now!</h1>
        <!-- Creates title of 'Sign Up Now!' -->

    <form action = '/createUser' method = 'post'>
        <!-- Specifies which page the form will be submitted to -->
        <div>
            <label for = 'username'> Username:  </label>
            <input type = 'text' name = 'username' id = 'username' required>
        </div>
        <!-- Creates the first text box for the username and titles it 'Username:' -->
        <div>
            <label for = 'password'>Password:  </label>
            <input type = password name = 'password' id = 'password' required minlength="8">
        </div>
        <!-- Creates the second text box for the password and titles it 'Password:' -->
        <div>
            <label for = 'rePassword'>Re-enter Password:  </label>
            <input type = password name = 'rePassword' id = 'rePassword' required>
        </div>
        <!-- Creates the third text box for the password re-entry and titles it 'rePassword:' -->
        <div>
            <input type = 'submit' value = 'Sign Up'>
        <!-- Creates a box titled 'Submit' to create the new user' -->
        </div>
    </form>
    Already have an account?  <a href = '/'>Login</a>
    <!-- Displays the text 'Already have an account?' followed by a 'Login' button for existing users to be directed back to login page -->
</body>
</html>
