<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Sets document type, language, character set and scale -->
<body>
    <h1>Workout Page</h1>
<!-- Creates title of page -->
    <a href = '/dashboard'>Home</a>
<!-- Creates link back to dashboard page through 'home' button -->    
    <a href = '/workoutviewer'>View</a>
<!-- Creates link back to workout viewer page through 'view' button -->



</body>
</html>

